{% extends '::base.html.twig' %}


{% block content %}
{% for categories in categories %}
{% set var = categories.category %}
<h2>{{ var }}</h2>
{% endfor %}
{% endblock %}

{% block categories %}
{% for categories in categories %}
{% set var = categories.category %}
<li><a href="/sh/web/app_dev.php/category/{{ var|lower }}">{{ categories.category }}</a></li>
{% endfor %}
{% endblock %}
