<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div id="nav">
                <div class="leftNav">
                666 666 666
                </div>
                <div class="rightNav">
                <ul id="navList">
                    {% if app.user %}
                    <li><a href="/sh/web/app_dev.php/profile">Moje konto</a></li>
                    {% else %}     
                    <li><a href="/sh/web/app_dev.php/register">Zarejestruj się</a></li>
                    <li><a href="/sh/web/app_dev.php/login">Zaloguj się</a></li>
                    <li><a href="/sh/web/app_dev/php/terms">Regulamin</a></li>
                    {% endif %}
                </ul>
                </div>
                <hr>
                <div id="logo">
                    <div class="leftNav leftLogo">
                        <img src="{{ asset('logo.png') }}"/>
                    </div>
                    <div class="rightNav rightCart">
                        <span>Koszyk: 0 przedmiotów: 0zł</span>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div id="menu">
                    <ul id="menuList">
                    <li><a href="/sh/web/app_dev.php/">Home</a></li>
                    <li><a href="/sh/web/app_dev.php/about">O nas</a></li>
                    <li><a href="/sh/web/app_dev.php/delivery">Dostawa</a></li>
                    <li><a href="/sh/web/app_dev.php/blog">Blog</a></li>
                    <li><a href="/sh/web/app_dev.php/contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div style="clear:both"></div>
        <section id="content">
            <div id="category">
                <div id="categories">
                    KATEGORIE
                </div>            
            <ul id="categoryList">
                <li>Mobile phones</li>
                <li>Desktop</li>
                <li>Laptop</li>
                <li>Accessories</li>
                <li>Software</li>
            </ul>   
            </div>
            <div id="slider">{% block slider %}{% endblock %}
            </div>
            {% block content %}{% endblock %}     
        </section>
        <sidebar>
            {% block sidebar%}{% endblock %}
        </sidebar>
        <footer>
            <div id="footerColumn">
                <div>footer1</div>
                <div>footer2</div>
                <div>footer3</div>
                <div>footer4</div>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="{{ asset('homepage.js') }}"</script>
    </body>
</html>
